<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connectavo | PoS</title>

<div style="text-align: center">
    <h1>PoS Count Collection</h1>
</div>

</head>
<body>

<h2> Books: </h2>
<ul>
    <li> <a href="/pos/1"> Book 1</a>  : Ulysses, by James Joyce</li>
    <li> <a href="/pos/2"> Book 2</a>  : The Notebooks of Leonardo Da Vinci by Leonardo Da Vinci</li>
    <li> <a href="/pos/3"> Book 3</a>  : The Outline of Science, by J. Arthur Thomson</li><br>
    <li> <a href="/pos/all"> Combined Stats</a></li>
</ul>
<br>
<div style="float:left; width:48%; margin-right:10px;">
    <h2> Nouns: </h2>

    {% for key,val in nounCount.items() %}
    <h3> Total Nouns in Book {{key}}: {{ nounCount[key] }}</h3>
    {% endfor %}

    {% for key,val in nouns.items() %}
      <h3> Book {{key}} </h3>
    {% for word,count in val.items() %}
        {{ word }} ,
        {{ count }} |
    {% endfor %}

    {% endfor %}
</div>

<div style="float:left; width:50%;margin-left:10px;">
    <h2> Verbs: </h2>

    {% for key,val in verbCount.items() %}
    <h3> Total Verbs in Book {{key}}: {{ verbCount[key] }}</h3>
    {% endfor %}

    {% for key,val in verbs.items() %}
    <h3> Book {{key}} </h3>
    {% for word,count in val.items() %}
        {{ word }} ,
        {{ count }} |
    {% endfor %}

    {% endfor %}

</div>

</body>
</html>