<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connectavo | Sentence</title>
    <div style="text-align: center">
    <h1>Sentence Similarity in Book {{book}} </h1>
    </div>

</head>
<body>

    <div style="float:left; width:48%; margin-right:10px;">
    <h2> 10 Most Similar Sentences: </h2><br>
        {% for item in similar %}
            {{item[0]}} <br>
             <h3> Score: </h3> {{item[1]}}   <br><br><br>
        {% endfor %}

    </div>

    <div style="float:left; width:48%; margin-right:10px;">
    <h2> 10 Most Dissimilar Sentences: </h2><br>
        {% for item in dissimilar %}
            {{item[0]}} <br>
             <h3> Score: </h3> {{item[1]}}   <br><br><br>

        {% endfor %}

    </div>

</body>
</html>